extends layout

block content
    script(type="text/javascript", src="//code.jquery.com/jquery-2.2.0.min.js")
    script(type="text/javascript", src="/javascripts/init.js")
    div(class="background")
    div(class="contentcenter")
        div(class="navbarleft")
        div(class="navbarright")
        div(class="navbottom")
    div(class="menu")
        each val, index in ['PORTFOLIO', 'SUMMARY', 'QUALIFICATIONS', 'EXPERIENCE']
            span(id="item" + index, class="menuitem")
                |#{val}