extends layout

block content
    - var navitems = ['PORTFOLIO', 'SUMMARY', 'QUALIFICATIONS', 'EXPERIENCE'];
    script var navitems = !{JSON.stringify(navitems)};
    script(type="text/javascript", src="//code.jquery.com/jquery-2.2.0.min.js")
    script(type="text/javascript", src="/javascripts/init.js")
    div(class="background")
    div(class="contentcenter")
        div(class="navbarleft")
        div(class="navbarright")
        div(class="navbottom")
        div(class="contentarea")
            div(id=navitems[0] class="contentitem")
                span(style="text-align:center;font-size:25px") 
                    |YURI WERGRZN
    div(class="menu")
        each val, index in navitems
            span(id="item" + index, class="menuitem")
                |#{val}