extends layout

block content
    - var navitems = ['SUMMARY', 'EXPERENCE', 'MORE INFO'];
    script var navitems = !{JSON.stringify(navitems)};
    script(type="text/javascript", src="//code.jquery.com/jquery-2.2.0.min.js")
    script(type="text/javascript", src="/javascripts/init.js")
    div(class="background")
    div(class="contentcenter")
        div(class="navbarleft")
        div(class="navbarright")
        div(class="navbottom")
        div(class="contentarea")
            div(id=navitems[0] class="contentitem")
                span(style="display:block;text-align:center;font-size:46px;width:100%;margin-top:10px;margin-bottom:25px") 
                    |YURI WERGRZN
                span(style="display:block;text-align:center;font-size:32px;width:100%;margin-top:10px;margin-bottom:25px") 
                    |MORE THAN A DEVELOPER. 
                    b A PROBLEM SOLVER!
                span(style="font-size:16px")
                    |A good developer knows how to implement solutions to problems, rather than simply create code. This is what drives me to seek new knowledge and skills to stay up to date in today's competitive market. 
                    br
                    |I have been into the computing world since I was very young. I started by modifying games and creating scripted missions with a 
                    br
                    |passion and curiousity that eventually drove me to seek my computer engineering graduation and career. 
                    br
                    br
                    |I am a creative and persevering software developer looking for new exciting work opportunities, reach me out!
                    br
                    br
                div(id="details" style="display:block;width:560px;background-color:rgba(230,230,230,0.6);height:160px;margin:auto;margin-top:20px")
                    a(href="https://www.linkedin.com/in/yuri-wergrzn-4269b497" target="_newtab") 
                        div(id="linkedin" class="contactitem" style="background: url('/images/linkedin.png') no-repeat center center")
                    a(href="https://www.facebook.com/yuri.wergrzn" target="_newtab") 
                        div(id="facebook" class="contactitem" style="background: url('/images/facebook.png') no-repeat center center")
                    a(href="mailto:yuri.wergrzn@gmail.com" target="_newtab") 
                        div(id="gmail" class="contactitem" style="background: url('/images/gmail.png') no-repeat center center")
            div(id=navitems[1] class="contentitem")
                span(style="display:block;text-align:center;font-size:36px;width:100%;margin-top:10px;margin-bottom:25px") 
                    |YURI WERGRZN
                span(style="font-size:16px")
                    |Graduated in Brazil - Technology University of Paraná as a Computer Engineer in 2012, I have programmed in C/C++ and Java since 2007.
                    br
                    br
                    |In 2012 I also joined ExxonMobil as a full time employee, working as a technical lead & internal tools developer for the Customer Services department.
                    br
                    |During this role I used an assortment of Microsoft tools from C#, SQL Server, MS Exchange Console to HTML/web development and even ASP .NET geared towards Customer Service staff and company end users.
                    br
                    |Having received a good dose of first hand customer issues, calls and end-user computer troubleshooting allowed me to improve my customer handling and communication skills as well as receive direct feedback to the usage of my software.
                    br
                    br
                    |Following this experience I was assigned to a specialized team to develop customer service & customer facing tools, in which I supported our department's intranet sites, worked on several form applications including ASP .NET and developed several web based reporting interfaces using JQuery UI add-ons and advanced database queries on MS SQL Server.
                    br
                    br
                    |My current assignment is to develop software automations using BMC Atrium Orchestrator. The automated workflows interact with several systems such as Active Directory, UNIX and Web Services using SSH, SOAP and other interfaces to complete end-user IT Service requests automatically, without human effort.
    div(class="menu")
        each val, index in navitems
            span(id="item" + index, class="menuitem")
                |#{val}