body
	margin: 0px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	height: 100%
	display: block
a
	color: #00B7FF
.background
	position: fixed
	top: 0
	left: 0
	width:100%
	height:100%
	background: url("/images/bg1.jpg") no-repeat center center fixed
	background-size: cover
	background-position: 50% 50%