body
	margin: 0px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	height: 100%
	display: block
a
	color: #00B7FF
.background
	position: fixed
	top: 0
	left: 0
	width:100%
	height:100%
	background: url("/images/bg1.jpg") no-repeat center center fixed
	background-size: cover
	background-position: 50% 50%
.contentcenter
	position:fixed
	top:10px
	left:0px
	height:calc(100% - 200px)
	width:100%
.navbarleft
	position:absolute
	top:0px
	left:0px
	width:25%
	height:100%
	background:url("/images/arrowleft.png") no-repeat left center
	background-size:20%
.navbarright
	position:absolute
	top:0px
	left:calc(100% - 25%)
	width:25%
	height:100%
	background:url("/images/arrowright.png") no-repeat right center
	background-size:20%
.navbottom
	position:absolute
	height:50px
	width:50%
	top:calc(100% - 50px)
	left:25%
.menu
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,0) 100%)
	position:fixed
	bottom:10px
	width:600px
	height:200px
	left: calc(50% - 300px)
	@media screen and (max-width:1024px)
		width:400px
		height:150px
		left: calc(50% - 200px)
.menuitem
	color:#EEE
	font: 18px "Homenaje"
	position:absolute
	opacity:0
	-webkit-user-select: none     
	-moz-user-select: none
	-ms-user-select: none