body
	margin: 0px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	height: 100%
	display: block
a
	color: #00B7FF
.background
	position: fixed
	top: 0
	left: 0
	width:100%
	height:100%
	background: url("/images/bg1.jpg") no-repeat center center fixed
	background-size: cover
	background-position: 50% 50%

.menu
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,0) 100%)
	position:fixed
	bottom:10px
	width:600px
	height:200px
	left: calc(50% - 300px)
	@media screen and (max-width:1024px)
		width:400px
		height:150px
		left: calc(50% - 200px)
.menuitem
	color:white